.logout-btn {
  border: none;
  background-color: transparent;
  color: #777;
}

.add-distination-btn {
  border: 2px solid transparent;
  background-color: #183258;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
}
.add-distination-btn:hover {
  border-color: #183258;
  background-color: #fff;
  color: #183258;
}

.add-distination-container {
  margin-bottom: 30px;
  text-align: right;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}
.form-actions button {
  padding: 8px 30px;
}

.search-form {
  margin: 20px 0;
  box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.3) !important;
  border-radius: 10px;
  overflow: hidden;
}
.search-form input,
.search-form button {
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: none;
}

.options {
  color: #555 !important;
  font-size: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.options a {
  color: #555;
}
.options .dropdown::marker {
  display: none !important;
  opacity: 0 !important;
}
.options .nav-link {
  position: absolute;
  top: 0;
  left: 0;
}
.options .nav-link::after {
  display: none;
}
.options .dropdown-menu li {
  padding: 3px 0;
}
.options .dropdown-menu li.booster a {
  color: yellow;
}
.options .dropdown-menu li.on-admar a {
  color: #183258;
}
.options .dropdown-menu li i {
  margin-right: 12px;
}

.link .domain {
  color: #888;
}
.link .slug {
  color: #d74538;
}

.error-block {
  padding: 10px;
  border: 1px solid #d74538;
  border-radius: 20px;
  margin: 20px 0;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.error-block .icon {
  color: #d74538;
  font-size: 50px;
  display: block;
}
.error-block .message {
  color: #d74538;
  font-weight: bold;
}

.message-container {
  background: #ffeded;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid #ff0005;
  border-radius: 10px;
}
.message-container .message-heading {
  color: #ff0005;
  font-family: "Effra";
  font-size: 20px;
  font-weight: bold;
  line-heigh: 32px;
  margin-bottom: 8px;
  text-align: left;
  font-weight: bold;
}
.message-container .message-description {
  font-family: "Effra";
  font-size: 16px;
  line-height: 19px;
  height: 38px;
  line-heigh: 32px;
  color: #ff0000;
}

.actions-button {
  display: flex;
}
.actions-button .custom-btn {
  margin: 0;
  border-radius: 0;
  border: 1px solid #ccc;
  margin-right: -0.5px;
}
.actions-button .custom-btn:hover {
  background-color: rgba(24, 50, 88, 0.1);
}
.actions-button .custom-btn i {
  font-weight: bold;
}

.details .stats {
  margin-top: 30px;
}
.details .stats .actions {
  background-color: #eee;
  color: #555;
  display: flex;
  justify-content: start;
  font-weight: bold;
}
.details .stats .actions .action {
  padding: 15px 25px;
  cursor: pointer;
  border: none;
  bqckground-color: transparent;
}
.details .stats .actions .action:hover {
  background-color: #fff;
}
.details .stats .actions .active {
  background-color: #fff;
}
.details .stats .actions-content {
  background-color: #fff;
  padding: 40px 10px;
}
.details .stats .actions-content .details-content {
  display: none;
}

.alert-message-wrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
  padding: 20px 10px;
  border-radius: 10px;
}

.alert-danger {
  background-color: rgb(197, 66, 66);
}

.alert-success {
  background-color: rgb(101, 244, 101);
}

.alert-message-close {
  margin-left: 50px;
  border-radius: 8px;
  background-color: #ccc;
  color: rgb(20, 19, 16);
  font-weight: bold;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
