.add-distination-btn {
    border: 2px solid transparent;
    background-color: $mainColor;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    &:hover {
        border-color: $mainColor;
        background-color: #fff;
        color: $mainColor;
    }
}
.add-distination-container {
    margin-bottom: 30px;
    text-align: right;
}
.input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    button {
        padding: 8px 30px;
    }
}

.search-form {
    margin: 20px 0;
    box-shadow: 0px 0px 24px -15px rgba(0, 0, 0, 0.3) !important;
    border-radius: 10px;
    overflow: hidden;
    input,
    button {
        padding: 10px;
        border: none;
        outline: none;
        box-shadow: none;
    }
    // input {
    //     border-top-left-radius: 10px;
    //     border-bottom-left-radius: 10px;
    // }
    // button {
    //     border-top-right-radius: 10px;
    //     border-bottom-right-radius: 10px;
    // }
}
.options {
    color: #555 !important;
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    a {
        color: #555;
    }
    .dropdown {
        &::marker {
            display: none !important;
            opacity: 0 !important;
        }
    }
    .nav-link {
        position: absolute;
        top: 0;
        left: 0;
        &::after {
            display: none;
        }
    }

    .dropdown-menu {
        li {
            padding: 3px 0;

            &.booster {
                a {
                    color: yellow;
                }
            }

            &.on-admar {
                a {
                    color: $mainColor;
                }
            }
            i {
                margin-right: 12px;
            }
        }
    }
}

.link {
    .domain {
        color: #888;
    }
    .slug {
        color: #d74538;
    }
}
.error-block {
    padding: 10px;
    border: 1px solid #d74538;
    border-radius: 20px;
    margin: 20px 0;
    background-color: transparent;
    text-align: center;
    display: flex;
    justify-content: space-between;
    .icon {
        color: #d74538;
        font-size: 50px;
        display: block;
    }
    .message {
        color: #d74538;
        font-weight: bold;
    }
}
.message-container {
    background: #ffeded;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #ff0005;
    border-radius: 10px;
    .message-heading {
        color: #ff0005;
        font-family: "Effra";
        font-size: 20px;
        font-weight: bold;
        line-heigh: 32px;
        margin-bottom: 8px;
        text-align: left;
        font-weight: bold;
    }
    .message-description {
        font-family: "Effra";
        font-size: 16px;
        line-height: 19px;
        height: 38px;
        line-heigh: 32px;
        color: #ff0000;
    }
}

.actions-button {
    display: flex;
    .custom-btn {
        margin: 0;
        border-radius: 0;
        border: 1px solid #ccc;
        margin-right: -0.5px;
        &:hover {
            background-color: rgba($color: $mainColor, $alpha: 0.1);
        }

        i {
            font-weight: bold;
        }
    }
}

.details {
    .stats {
        margin-top: 30px;
        .actions {
            background-color: #eee;
            color: #555;
            display: flex;
            justify-content: start;
            font-weight: bold;
            .action {
                padding: 15px 25px;
                cursor: pointer;
                border: none;
                bqckground-color: transparent;
                &:hover {
                    background-color: #fff;
                }
            }

            .active {
                background-color: #fff;
            }
        }

        .actions-content {
            background-color: #fff;
            padding: 40px 10px;
            .details-content {
                display: none;
            }
        }
    }
}
